.main {
  background: $n2;
  padding-bottom: 225px;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // gap: 10px;
}

.container-info {
  margin-top: 125px;
  padding-left: 20px;
}
.container-info h1 {
  max-width: 420px;
  margin-bottom: 25px;
  color: $p1;
}
.container-info p {
  max-width: 400px;
  margin-bottom: 35px;
  color: $p1;
}

.container-art {
  width: 100%;
}

.container-art img {
  position: absolute;
  z-index: 0;
  top: 100px;
  right: 10px;
}

@media (max-width: 1200px) {
  .container-art img {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .container-art img {
    display: none;
  }
  .main {
    padding-bottom: 30px;
  }
  .container-info {
    margin-top: 30px;
    padding-right: 20px;
  }
}

// Responsive for Mobile
@media (max-width: 400px) {
  .main {
    position: relative;
  }
  .main::before {
    content: "";
    display: block;
    background-image: url("../image/art-mobile.svg");
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 432px;
  }
  .main-container h1 {
    font: 400 2.375rem/1.18 'Public Sans', sans-serif;
    margin-top: 400px;
  }
}