.articles {
  background: $n2;
}

.articles-container {
  display: block;
  padding: 100px 20px;
}

.articles-container h2 {
  max-width: 415px;
  margin-bottom: 25px;
  color: $p1;
}

.articles-cards {
  margin-top: 70px;  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 255px;
  background: $n1;
  border-radius: 0px 0px 8px 8px; 
  padding-bottom: 24px;
}

.article img {
  width: 100%;
  max-height: 200px;
  border-radius: 8px 8px 0px 0px;
  margin-bottom: 25px;
}

.cap, .article h4, .article p{
  padding: 0 24px;
}

.cap {
  color: $n4; 
}

.article h4 {
  margin: 12px 0;
}

@media (max-width: 800px) {
  .articles-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .articles-container h2 {
    text-align: center;
  }
  .articles-cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}